.logo{
  padding-left: 2em;
}

.Heading{
    text-align: center;
}

.main-title{
  text-align: center;
  padding: 2em;
}

a{
  text-decoration: none;
  color: black;
}



.nav-link{
  color: lightgray;
  display: inline-block;
  margin-right: 10px;
}
.nav-link:hover{
  color: lightgray;
}
@media (max-width: 990px) {
  .nav-link {
    display: block;
    padding: 1em;
  }
}




/* Forms */
