.logo{
  padding-left: 2em;
}

.Heading{
    text-align: center;
}

.main-title{
  text-align: center;
  padding: 2em;
}

a{
  text-decoration: none;
  color: black;
}



.nav-link{
  color: lightgray;
  display: inline-block;
  margin-right: 10px;
}
.nav-link:hover{
  color: lightgray;
}
@media (max-width: 990px) {
  .nav-link {
    display: block;
    padding: 1em;
  }
}




.login-button{
  width: 100%;
  padding: 10px;
  margin-top: 1em;
  padding-top: 1em;
  border: none;
  background-color: black;
  color: whitesmoke;
}

.login-button:hover{
  background-color: whitesmoke;
  color: black;
}


.logout-Btn{
  float: right;
  border: none;
  padding: 1px 5px;
}


.contact-btn{
  background-color: black;
  border: none;
}

.contact-btn:hover{
  background-color: whitesmoke;
  color: black;
}